
body {
  font-size: 20px;
  background: #f0f0f0;
}

.left {
  float: left;
}

.container-fluid {
  z-index: 1;
}

.badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 6px;
  top: 8px;
}

.user {
  float:right;
  width: 40px;
  margin: 8px 0;
}
.user a {
  padding: 15px 15px 0;
  cursor: pointer;
  color: #ccc;
}
.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 9998;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}
.dropdown-menu>li>a {
  color: #5A738E;
}
.navbar-nav .open .dropdown-menu {
  position: absolute;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
}

.logo {
  float: left;
  height: 30px;
  margin-top: 12px;
}

.navbar-text-content {
  width: auto;
  height: 34px;
  padding-left: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 6px 12px;
  border-radius: 1em;
  background-color: #356995;
  position: absolute;
  top: 5px; left: 50%;
  transform: translate(-50%, 0);
}

.navbar-text {
  color: #fff !important;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  top: 50%;
  transform: translate(0, -70%);
}

.menu-toggle {
  width: 40px;
  height: 40px;
  float: left;
}

.search-form {
  display: block;
  position: relative;
  padding: 3px 0px;
  margin: 8px;
  border: none;
  width: calc(100% - 100px);
  float: left;
}

.search-form i {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 999;
  color: #cecece;
  pointer-events: none;
}
.form-control {
  height: 24px;
  padding: 3px 9px;
  position: relative;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 999999;
}
.navbar-header {
  width: 100%;
}
.navbar-toggle {
  padding-top: 0;
  border: none;
  display: block;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
} 
.navbar-toggle i {
  color: white;
}


@media (min-width: 768px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 15px;
    margin-left: 0;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 35px;
    line-height: 20px;
  }
  .toggle {
    display: block;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  .search-form {
    width: calc(100% - 200px);
  }
}


@import "./_main_menu.css";